

@tailwind base;
@tailwind components;
@tailwind utilities;

.register_page{
    background: url("./assets/images/regImg.png") no-repeat;
    background-position: center;
    background-size: cover;

}